* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #180E2A;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}

iframe {
  height: 100%;
  width: 100%;
}