* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

@font-face {
    font-family: 'НазваниеШрифта';
    src: url('fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EBF1FF;
}

.container {
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 20px;
}

.event {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 1px 0 0 0;
    align-items: stretch;
    padding: 12px 8px;
    gap: 5px;
}

.live {
    display: flex;
    align-items: center;
    color: #F00808;
    flex-grow: .1;
}

.live span {
    font-weight: 700;
}

.title_parent {
    /*flex-grow: 3;*/
    display: flex;
    align-items: center;
    width: 80%;
}

.title {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
}

.title:hover {
    text-decoration: underline;
}

.score {
    display: flex;
    gap: 3px;
}

.score div {
    padding: 6px 5px;
    border-radius: 2px;
}

.score span {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 700;
}

.score_left {
    background-color: #00143C;
    color: #fff;
}

.score_right {
    background-color: #FAFF05;
    color: #00143C;
}

.buttons {
    flex-grow: 1;
    display: flex;
    gap: 2px;
}

.buttons button {
    color: #00143C;
    background-color: #d7e3ff;
    border: none;
    font-size: 11px;
    width: 100%;
    border-radius: 3px;
}

.bets-counter {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #66728a;
}

ul:last-child {
    margin: 20px 0 0 0;
}

#scoreboard_container {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

#close {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #fff;
    user-select: none;
}