<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login_block">
            <div class="form_block">
                <form>
                    <div class="username_input">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="password_input">
                        <input type="password" placeholder="Password">
                    </div>
                    <button type="submit" class="loginButton">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
