<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tennis.css' %}">
    <title>Tennis</title>
</head>
<body>
    <div class="container">
        <div id="events-container">Загрузка...</div>
        <button onclick="window.location.pathname = 'logout/'">Logout</button>
    </div>
    <script src="{% static 'js/events.js' %}"></script>
</body>
</html>