<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tennis.css' %}">
    <title>Tennis</title>
</head>
<body>
    <div class="container">
        <table>
            {% for i in live_events %}
                <tr>
                    <td>•LIVE</td>
                    <td>
                        <a href="/event-{{i.id}}/" class="title" detail_url="{{ i.detail_url }}" target="_blank">{{ i.title }} </a>
                    </td>
                    <td>
                        <div class="score">
                            <div class="score_left">
                                <span>{{i.score.0.0}}</span>
                                <span>{{i.score.0.1}}</span>
                            </div>
                            <div class="score_right">
                                <span>{{i.score.1.0}}</span>
                                <span>{{i.score.1.1}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table>
            {% for i in highlights %}
                <tr>
                    <td>{{ i.start_time }}</td>
                    <td>
                        <a href="#" class="title" >{{ i.title }} </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>